/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- LINE HEIGHTS
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- LETTER SPACING
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints: 
#fdf2e9
#fae5d3
- Shades: #cf711f
- Accent: 
- Greys: 
#555
#333

--- 05 SHADOWS 

--- 06 BORDER RADIUSES
Default: 9px

--- 07 WHITESPACE 

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size
    10px / 16px = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/* *********************** */
/*  GENERAL REUSABLE COMPONENTS */
/* *********************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  -moz-column-gap: 6.4rem;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tretiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tretiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff; /* Trick for inside shadow */
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
